.bundle
creds.sh
Gemfile.lock
hieradata/common.yaml
jenkins_demo/templates/id_rsa*
keys/
.librarian
modules
*.orig
*.patch
pkg/
Puppetfile.lock
*.rej
.rspec_system/
spec/fixtures/manifests/
spec/fixtures/modules/
*.swp
terraform/aws.rb
terraform/bin
terraform/*tfstate*
tmp
.tmp
.vagrant
