.bundle
creds.sh
hieradata/common.yaml
jenkins_demo/templates/id_rsa*
keys
environments/**/modules
*.orig
*.patch
pkg/
*.rej
.rspec_system/
spec/fixtures/manifests/
spec/fixtures/modules/
*.swp
terraform/aws.rb
terraform/bin
terraform/*tfstate*
tmp
.tmp
.vagrant
