.bundle
creds.sh
hieradata/common.yaml
hieradata/role/squash.yaml
jenkins_demo/templates/id_rsa*
keys
environments/**/modules
*.orig
*.patch
pkg/
*.rej
.rspec_system/
spec/fixtures/manifests/
spec/fixtures/modules/
*.swp
tmp
.tmp
.vagrant
