<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://jhoblitt@stash.lsstcorp.org/scm/ts/ts_wep.git</url>
        <credentialsId>2b378da7-1b7f-4518-8216-62808de2eb6e</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>**</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>H/2 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
    <stashpullrequestbuilder.stashpullrequestbuilder.StashBuildTrigger plugin="stash-pullrequest-builder@1.5.3">
      <spec>H/2 * * * *</spec>
      <cron>H/2 * * * *</cron>
      <stashHost>https://stash.lsstcorp.org</stashHost>
      <credentialsId>2b378da7-1b7f-4518-8216-62808de2eb6e</credentialsId>
      <projectCode>TS</projectCode>
      <repositoryName>ts_wep</repositoryName>
      <ciSkipPhrases>NO TEST</ciSkipPhrases>
      <ciBuildPhrases>test this please</ciBuildPhrases>
      <targetBranchesToBuild></targetBranchesToBuild>
      <ignoreSsl>false</ignoreSsl>
      <checkDestinationCommit>false</checkDestinationCommit>
      <checkMergeable>false</checkMergeable>
      <checkNotConflicted>false</checkNotConflicted>
      <onlyBuildOnComment>false</onlyBuildOnComment>
      <deletePreviousBuildFinishComments>false</deletePreviousBuildFinishComments>
    </stashpullrequestbuilder.stashpullrequestbuilder.StashBuildTrigger>
  </triggers>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>set -o errexit

if [[ ! -e &quot;${PWD}/anaconda/bin/python&quot; ]]; then
  curl -sSL https://repo.continuum.io/archive/Anaconda2-2.5.0-Linux-x86_64.sh &gt; anaconda.sh
  bash anaconda.sh -b -p &quot;${PWD}/anaconda&quot;
  rm -f anaconda.sh
fi
export PATH=&quot;$PWD/anaconda/bin:$PATH&quot;

pip install luigi
pip install -r requirements.txt
python setup.py test
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <jenkins.plugins.hipchat.HipChatNotifier plugin="hipchat@1.0.0">
      <token></token>
      <room></room>
      <startJobMessage></startJobMessage>
      <completeJobMessage></completeJobMessage>
    </jenkins.plugins.hipchat.HipChatNotifier>
    <org.jenkinsci.plugins.stashNotifier.StashNotifier plugin="stashNotifier@1.10.2">
      <stashServerBaseUrl>https://stash.lsstcorp.org</stashServerBaseUrl>
      <credentialsId>2b378da7-1b7f-4518-8216-62808de2eb6e</credentialsId>
      <ignoreUnverifiedSSLPeer>false</ignoreUnverifiedSSLPeer>
      <commitSha1></commitSha1>
      <includeBuildNumberInKey>false</includeBuildNumberInKey>
      <projectKey></projectKey>
      <prependParentProjectKey>false</prependParentProjectKey>
      <disableInprogressNotification>false</disableInprogressNotification>
      <globalConfig>
        <adminAddress>address not configured yet &lt;nobody@nowhere&gt;</adminAddress>
        <jenkinsUrl>http://ts-ci.lsst.codes/</jenkinsUrl>
      </globalConfig>
    </org.jenkinsci.plugins.stashNotifier.StashNotifier>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.4.2">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
</project>