<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>osx-1</name>
  <description></description>
  <remoteFS>/Users/square/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.CommandLauncher">
    <agentCommand>ssh -a -o StrictHostKeyChecking=no -i /var/lib/jenkins/.ssh/id_rsa  -o ProxyCommand=&apos;ssh -a -o StrictHostKeyChecking=no -i /var/lib/jenkins/.ssh/id_rsa root@lsst-dm-mac.lsst.org nc 140.252.33.70 22&apos; square@140.252.33.70 &quot;cd jenkins &amp;&amp; java -jar slave.jar&quot;</agentCommand>
  </launcher>
  <label>SQuaREs-Mac-4 osx-10.11</label>
  <nodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>1</int>
          <string>PATH+LOCAL_BIN</string>
          <string>/usr/local/bin</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </nodeProperties>
</slave>
